<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
        <br><br>
        <button type="button" class="btn btn-outline-danger btn-block" (click)="regresarHeroes()">Regresar</button>
    </div>
    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img *ngIf="heroe.casa == 'DC'" src="assets/img/DC_Logo.png" alt="DC" class="img-logo">
            <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel.png" alt="Marvel" class="img-logo">
        </div>
    </div>

</div>